!!!
%html
  %head
    %title Glasgow JavaScript User Group

    %link{ rel:  "stylesheet/less",
           type: "text/css",
           href: "/stylesheets/styles.less" }

    %script{  type: "text/javascript",
              src:  "http://cdnjs.cloudflare.com/ajax/libs/less.js/1.3.0/less-1.3.0.min.js" }

    %script{  type: "text/javascript",
              src:  "http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js" }

    %meta{ name: "viewport",
           content: "width=device-width, initial-scale=1.0" }

  %body
    %header{class: 'container'}
      %img{src: '/GJS_small.png'}
      %h1{id: 'logo'}
        Glasgow.js
        %br
        %span{class: 'subheading'}The Glasgow JavaScript User Group

      %aside{class: 'hidden-phone'}
        %ul{class: 'nav-pills'}
          %li
            %a{href: '#location'}
              %i{class: "icon-screenshot icon-white"}
              Where?
          %li
            %a{href: 'http://lanyrd.com/2012/glasgow-js/'}
              %i{class: "icon-pencil icon-white"}
              Sign up

    %section{class: 'container', id: 'next-meetup'}
      .row
        .span8
          %h1{id: 'meeting-date'}
            Next Meeting:
            %span{class: 'highlight'}
              = "#{@next_meeting.strftime("%A #{@next_meeting.day.ordinalize} of %B")}"

          %article{id: 'next-meeting'}
            .speaker
              .avatar-container
                %img{class: 'speaker-avatar', src: "http://a0.twimg.com/profile_images/488401225/n753113573_9726_normal.jpg"}
              %h2 Single Page Applications from the front line
              %h3 Paul Cowan
              :markdown
                So you have built the defacto TODO application with your MV* JS framework. Now what? If you want to build something **real** straight away you will run into problems. This talk is tales from the front line developing real world single page applications.

                Paul is a .NET/(J)Ruby/JavaScript etc. polyglot programmer and gun for hire. Based in Glasgow (UK) and was the first (and only) brave enough to say "yes" to no slides, just code.

              .connect
                %a{href: 'http://www.thesoftwaresimpleton.com/'}thesoftwaresimpleton.com
                %a{href: 'https://twitter.com/dagda1'}@dagda1

            .speaker
              .avatar-container
                %img{class: 'speaker-avatar', src: "http://a0.twimg.com/profile_images/2386629794/a9ouvjqmirpru611ljxx_normal.png"}
              %h2 We are still looking for speakers
              %h3 Wanna talk?
              :markdown
                If you are interested in speaking at a meetup pass on your details with [this form](https://docs.google.com/a/glasgowjs.com/spreadsheet/viewform?formkey=dHRGay1hUm53aTkxX0JiLTV6RnVwaVE6MQ).

                You can hit us up on twitter, [@GLWjs](https://twitter.com/GLWjs)

                Email [info@glasgowjs.com](mailto:info@glasgowjs.com).

        .span4
          #sponsors
            %h3 Our illustrious Sponsors

    #location
      %section{class: 'container'}
        %h1 Where to find us
        .row
          .span4
            :markdown
              ## To be finalised
              Glasgow, Somewhere

              The metup starts at 6:30 with the first session starting at 7pm.

              Let us know you are coming by marking your attendance at [Lanyrd](http://lanyrd.com/2012/glasgow-js/)
          .span8
            :plain
              <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?gl=uk&amp;ie=UTF8&amp;ll=55.860767,-4.242611&amp;spn=0.057995,0.154324&amp;t=m&amp;z=13&amp;output=embed"></iframe>
    #about
      %section{class:'container'}
        .row
          .span4
            :markdown
              ## Sessions
              We don't think it should be all talks and presentations and we intend to include hack sessions, katas over the meetups.

              Any ideas you have for katas or indeed ideas for the meetup in general, please let us know. The Glasgow JS Meetup is 100% aimed at the desires of it's members.

              Just tweet at [@GLWjs](https://twitter.com/GLWjs), or email [info@glasgowjs.com](mailto:info@glasgowjs.com).
          .span4
            :markdown
              ## Presentations
              There are really only a few rules about presenting at Glasgow JS.

              1. You show up
              2. You dont mind the talk being recorded, and put online
              3. No slides. Just code, Browser, Terminal etc.
          .span4
            :markdown
              ## Speaking
              If you are interested in speaking at a meetup pass on your details with [this form](https://docs.google.com/a/glasgowjs.com/spreadsheet/viewform?formkey=dHRGay1hUm53aTkxX0JiLTV6RnVwaVE6MQ).

              You can hit us up on twitter, [@GLWjs](https://twitter.com/GLWjs)

              Email [info@glasgowjs.com](mailto:info@glasgowjs.com).

